---
import Banner from "@/components/Banner.astro";
import Header from "@/components/DashboardHeader.astro";
import FormContainer from "@/components/FormContainer.astro";
import Sidebar from "@/components/Sidebar.astro";
import Table from "@/components/Table.astro";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import type { User } from "@/user";

const session = await getSession(Astro.request);

if (session) {
  if ((session.user as User)?.role !== "admin") {
    return Astro.redirect("/");
  }
} else {
  return Astro.redirect("/dashboard/signin");
}
---

<Layout
  title="Dashboard"
  robots="noindex, nofollow"
  googlebot="noindex, nofollow"
>
  <main class="w-full flex-1">
    <div class="flex">
      <Sidebar />
      <div class="flex-1 w-full px-4">
        <Header />
        <div class="flex lg:flex-row flex-col">
          <div class="flex-1 w-full">
            <Banner />
            <Table />
          </div>
          <aside class="w-full px-2 lg:w-2/6 h-dvh lg:sticky inset-y-0 right-0">
            <FormContainer />
          </aside>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    @apply bg-gray-50;
  }
</style>