---
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";
import TableReserves from "@/components/TableReserves.svelte";
import Banner from "@/components/Banner.astro";
import Sidebar from "@/components/Sidebar.astro";
import Header from "@/components/DashboardHeader.astro";

const session = await getSession(Astro.request);

if (session) {
  if (session.user.role !== "admin") {
    return Astro.redirect("/");
  }
} else {
  return Astro.redirect("/dashboard/signin");
}
---

<Layout
  title="Dashboard"
  robots="noindex, nofollow"
  googlebot="noindex, nofollow"
>
  <main class="w-full flex-1">
    <div class="flex md:flex-row flex-col-reverse">
      <Sidebar />
      <div class="flex-1 w-full px-4">
        <Header />
        <Banner />
        <TableReserves client:load />
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    @apply bg-gray-50;
  }
</style>
