---
import AboutMe from "@/components/AboutMe.astro";
import Gallery from "@/components/Gallery.astro";
import Intro from "../components/Intro.astro";
import Reserve from "../components/Reserve.astro";
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="relative bg-orange-50 text-black">
    <Intro />
    <Gallery />
    <AboutMe />
    <Reserve />
  </main>
  <Footer />
</Layout>
