---
export type Props = {
  class?: string;
};

const { class: classes } = Astro.props;
---

<span
  class:list={[
    "bg-pink-500 px-4 py-1 w-fit rounded-full font-semibold text-lg absolute",
    classes,
  ]}
>
  <slot />
</span>
