<div class="banner">
  <div class="banner-container">
    <h3 class="md:text-5xl text-3xl font-bold pb-4 leading-6">
      Dashboard de reservas
    </h3>
    <p class="md:text-2xl text-xl leading-6">
      Administre las reservas de su negocio
    </p>
  </div>
</div>

<style>
  .banner {
    @apply bg-gradient-to-bl from-yellow-500 via-purple-500 to-blue-500;
    @apply h-64 my-6 w-full rounded-xl;
  }
  .banner-container {
    @apply text-white md:px-8 px-4 size-full flex flex-col justify-center;
  }
</style>
