---
import Social from './Social.astro';
---

<footer class="hero my-8 relative rounded-lg h-fit">
  <div
    class="flex gap-5 md:flex-row flex-col-reverse md:justify-between items-center"
  >
    <small class="text-sm w-full opacity-60 md:text-left text-center">
      &copy; 2024 todos los derechos reservados
    </small>
    <Social />
  </div>
</footer>
