---
import Social from "./Social.astro";
---

<footer class="hero my-8 relative border-2 border-orange-900 rounded-lg h-fit">
  <div class="mx-2 py-1 rounded-lg flex justify-between items-center">
    <p class="text-sm w-full font-semibold">
      &copy; 2024 todos los derechos reservados
    </p>
    <Social />
  </div>
</footer>
