---
import Input from "./Input.astro";
import { FormContainer } from "./FormContainer";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<FormContainer client:only {session}>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 mb-6">
    <Input
      type="text"
      name="visitor_name"
      value={session?.user?.name || ""}
      placeholder="pedro sanchez"
      required
      label="Responsable"
      class="md:col-span-2"
    />
    <Input
      type="number"
      name="visitor_dni"
      placeholder="111111111"
      required
      label="Documento de identidad"
      class="md:col-span-2"
    />
    <Input
      type="email"
      value={session?.user?.email || ""}
      name="visitor_email"
      placeholder="hola@gmail.com"
      required
      label="Email"
    />
    <Input
      type="text"
      name="visitor_phone"
      placeholder="+5733232323"
      required
      label="Teléfono"
    />
    <Input
      type="date"
      min="01/01/2024"
      name="reserve_date"
      required
      label="Fecha"
    />
    <Input
      type="time"
      name="reserve_time"
      min="09:00"
      max="18:00"
      required
      label="Hora"
    />
  </div>
</FormContainer>
