<section class="intro h-dvh relative" id="inicio">
  <div class="hero size-full z-20 relative grid place-content-center">
    <div class="flex-1 flex flex-col justify-center md:text-left text-center">
      <h1 class="intro-title">
        <span class="text-orange-400 animate-fade-right">Bailar</span>
        <span class="text-orange-100 animate-fade-right animate-delay-200">
          Rapear
        </span>
      </h1>
      <p
        style="font-family: PoetsenOne;"
        class="text-5xl text-red-100 font-semibold text-center mt-6 animate-fade-right animate-delay-300"
      >
        Hip-house
      </p>
    </div>
  </div>
  <p class="text-sm opacity-50 absolute left-6 bottom-6 z-10 text-white">
    Photo by
    <a
      href="https://unsplash.com/@alicekat?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      target="_blank"
      rel="noopener noreferrer"
      class="underline"
    >
      Alice Donovan Rouse
    </a>
  </p>

  <img
    src="/logo.png"
    alt="logo de hip house"
    width="120"
    height="120"
    class="absolute saturate-150 right-6 bottom-6 z-20 md:w-40 w-24"
  />
</section>

<style>
  .intro {
    @apply after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-t after:from-black after:to-black/50 after:opacity-90;
    background: #431407 url('/cover.webp') no-repeat center center / cover;
    image-rendering: pixelated;
  }
  .intro-title {
    @apply text-7xl text-center md:text-9xl flex flex-col;
    font-family: PoetsenOne;
  }
</style>
