---
export type Props = {
  items: string[];
};

const { items } = Astro.props;
---

<ul class="flex flex-col gap-y-4">
  {
    items.map((item, index) => (
      <li aria-label={`item-${index}`} class="flex gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 bg-primary text-white rounded-full p-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>

        <p
          set:text={item}
          class="flex-1 md:text-base text-sm opacity-80 text-pretty"
        />
      </li>
    ))
  }
</ul>
