---
import { getSession } from "auth-astro/server";
import SignOut from "./SignOut.astro";

const session = await getSession(Astro.request);
const user = session?.user;
---

<div
  class="flex justify-center items-center px-4 py-1 rounded-md"
>
  <div class="flex gap-3 relative items-center max-w-52 h-fit py-1">
    <img
      src={user?.image || "/logo.png"}
      width="40"
      height="40"
      class="rounded-full ring-2 ring-orange-600 ring-offset-2 size-10"
      loading="lazy"
      alt={`Profile picture of ${user?.name}`}
    />

    <div class="flex flex-1 flex-col w-fit">
      <h3 class="leading-3 font-medium line-clamp-1">
        {user?.name}
      </h3>
      <span class="text-xs opacity-60 font-light truncate max-w-36">{user?.email}</span>
    </div>
  </div>
  <SignOut />
</div>
