---
import SignOut from "./SignOut.astro";

const { props } = Astro;
---

<div
  class="flex border-2 relative border-orange-900 rounded-lg py-3 px-5 mt-3 mb-6 shadow-lg"
>
  <div class="w-1/4">
    <img
      src={props.user.picture}
      width="60"
      height="60"
      alt={props.user.name}
      class="rounded-full"
    />
  </div>
  <div class="flex-1 flex flex-col justify-center">
    <h2 class="text-lg font-semibold leading-5">{props.user.name}</h2>
    <p class="opacity-70">{props.user.email}</p>
  </div>
  <SignOut class="absolute md:-right-4 -right-2 -top-5" isIcon />
</div>
