---
import '@fontsource/poppins/800.css';
import { ViewTransitions } from 'astro:transitions';

import BaseHead from '@/components/BaseHead.astro';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';

interface Props {
  title: string;
  robots?: string;
  googlebot?: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead {...Astro.props} />
    <ViewTransitions />
  </head>
  <body class="relative overflow-x-hidden">
    <slot />
    <style is:global>
      @font-face {
        font-family: 'PoetsenOne';
        src:
          url('/fonts/PoetsenOne.woff2') format('woff2'),
          url('/fonts/PoetsenOne.woff') format('woff');
      }
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-thumb {
        height: 80px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
        backdrop-filter: blur(10px);
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb {
        backdrop-filter: blur(10px);
        border-radius: 5px;
        @apply bg-orange-950;
      }
      *,
      body,
      html {
        scroll-behavior: smooth;
        box-sizing: border-box;
      }
      body,
      html {
        font-family: 'Poppins' sans-serif;
      }
      .hero {
        @apply lg:max-w-5xl w-full mx-auto md:px-0 px-4;
      }
    </style>
  </body>
</html>
